@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
}
.main-container .nav-content .navbar{
    height: 80px;
    background-color: #5F9EA0;
}
.navbar:hover{
background-color: #696969;
}
.nav-content .navbar-brand {
font-style: italic;
font-size: 30px;
}
.nav-item .nav-link{
font-size: 20px;
}